header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #0f0126;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  color: #68d4de;
  position: fixed;
}
.bg-container{
  background-color: #0c001f;
}
*{
  box-sizing: border-box;
}
nav{
  display: flex;
}
ul{
  display: flex;
   justify-content: space-around;
  width: 100%;
  list-style: none;
}
.self-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  height: 80vh;
  background-image: linear-gradient(to right, #0f0126, #0f0126, rgb(12, 1, 52), #0f0126, #0f0f0f);
}
.role-para{
  font-size: 20px;
}
h1{
  font-size: 42px;
  color: aqua;
}
.emoji{
  color: rgb(243, 195, 53);
}
.nav-item{
  font-size: 20px;
  margin-right: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
  color: #ffff;
}
main{
  width: 100%;
}
.section{
  border: 2px solid aqua;
  border-radius: 5px;
  padding: 30px;
  
}
.container{
  padding: 30px;
  min-height: 40vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-btn{
  background-color: aqua;
  color: #0f0126;
  height: 45px;
  width: 148px;
  color: #0f0126;
  font-size: 17px;

}
footer{
  width: 100%;
  box-sizing: border-box;
}
.skills-list{
  display: flex;
  flex-wrap: wrap;
   border: 1px solid aqua;
  border-radius: 25px;
  padding: 20px;
  list-style:disc;
}
.skill{
  border: 1px solid aqua;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 15px;
}
.projects-div{
  width: 70vw;
}
.projects{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.project{
  border: 1px solid aqua;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 45%;
}
.contact-div{
  border: 1px solid aqua;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #0f0126, #0f0126, rgb(12, 1, 52),#0f0126, #0f0f0f);
}
footer{
  text-align: center;
  padding: 30px;
}
.info{
  color: aqua;
}
hr{
  height: 0.2px;
  color: aqua;
}
ul{
  padding: 0px;
  margin: 0px;
}
.about-me-para{
  font-family:Arial, Helvetica, sans-serif;
}
.project:hover{
  width: 50%;
  margin: 0px;
  padding: 20px;
  background-color: #022c30;
}

@media (max-width : 768px) {
  .self-intro{
    height: 60vh;
  }nav{
  width: 50%;
   }
  header{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
  }h1{
    font-size: 35px;
  }.role-para{
    font-size: 18px;
  }.skill{
    margin: 12px;
  }.skills-list{
    padding: 15px;
  }.project{
    width: 46%;
  }h2{
  font-size: 22px;
  }
}

@media (max-width : 576px) {
  .project{
    margin-bottom: 10px;
    width: 185px;
    min-height: 250px;
  }.project:hover{
    width: 100%;
  }
  h2{
    font-size: 16px;
  }.self-intro{
  height: 55vh;
  padding: 10px;
  }h1{font-size: 23px;
  }
  .role-para{font-size: 15px;
  }.view-btn{
  height: 32px;
  font-size: 14px;
  width: 125px;
  }.nav-item{
  font-size: 14px;
  }footer{
    font-size: 10px;
  }header{
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
  }nav{
    width: 65%;

  }p{
    font-size: 12px;
  }.skill{
    font-size: 12px;
  }.project{
    min-height: 180px;
    width: 100%;
    font-size: 16px;
  }
}